<h1>Add a Recipe</h1>
<!-- what path does rails assume without the url? -->
<%= form_for @recipe, url: recipes_new_path do |f| %>

<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |error| %>
  <p class='error'><%= error %></p>
  <% end %>
<% end %>

<p><%= f.label :title %></p>
<p><%= f.text_field :title %></p>

<p><%= f.label :directions %></p>
<p><%= f.text_area :directions %></p>

<p><%= f.label :time %></p>
<p><%= f.text_field :time %></p>

<p><%= f.label :difficulty %></p>
<p><%= select_tag :difficulty, options_for_select([['easy', 'easy'], ['medium', 'medium'], ['hard', 'hard']]) %></p>

<%= f.submit "Add My Recipe!" %>


<% end %>
