<div id="no_access"><%= flash[:no_access] %></div><br>

<article class='container'>
  <% if logged_in %>
    <h1><%= @recipe.title %></h1>

    <h3>Ingredients</h3>
    <% recipe_measures(@recipe) %>

    <div>
      <table class='recipe-table'>
        <thead>
          <tr>
            <th class='row-header'>Quantity</th>
            <th class='row-header'>Unit</th>
            <th class='row-header'>Ingredient</th>
          </tr>
        </thead>
        <tbody>
            <% @single.each do |measure| %>
          <tr>
              <% measure.each do |content_value| %>
                <td><%= content_value %></td>
              <% end %>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div><br><br>

    <p>Time: <%= @recipe.time %> minutes </p>
    <p>Difficulty: <%= @recipe.difficulty %></p>
    <p>Directions: <%= @recipe.directions %></p>

    <p><%= flash.notice %></p>

    <b><p>Rating: </p></b>
    <% if @recipe.ratings.any? %>
      <p id='recipe-rating'><%= recipe_rating(@recipe) %></p><br><br>
    <% else %>
      <p>Not yet rated.</p>
    <% end %>
    <% if !already_rated?(@recipe) %>
      <%= form_for @rating, url: recipe_ratings_path(@recipe) do |f| %>

      <p><%= f.select :stars, options_for_select([['1 STAR', 1.00], ['2 STAR', 2.00], ['3 STAR', 3.00], ['4 STAR', 4.00], ['5 STAR', 5.00]]) %></p><br>
      <%= f.submit "Submit Rating" %>
      <% end %>
    <% end %>




    <% if recipe_owner?(@recipe) %>
      <%= link_to "Edit", edit_category_recipe_path(@recipe.category, @recipe) %><br>
      <%= link_to 'Delete', category_recipe_path(@recipe.category, @recipe), method: :delete %>
      <% end %>
  <% else %>
    <%= render '/general_use_partials/login_required' %>
  <% end %>
</article>


