<div id="no_access"><%= flash[:no_access] %></div><br>

<%= @recipe.title %><br>

<% recipe_contents(@recipe) %>
<%= @units %>
<!-- <div>
  <h2><%= @recipe.title %></h2>

  <table>
    <thead>
      <tr>
        <th>@recipe.measures </th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
 -->

<%= link_to "Edit", edit_category_recipe_path(@recipe.category, @recipe) %>

