<h3 class='notice'><%= flash[:notice]  %><h3>

<% if admin? %>
  <h3>Recipes by <%= @user.name %>:</h3>

<% else %>
  <h1>Welcome, <%= @user.name %>!</h1>
  <h2>Recipes You've Posted:</h2>
<% end %>

<table>
  <% @user.recipes.each do |recipe| %>
   <tr>
    <td><%= link_to "#{recipe.title}", recipe %></td>
    <td><%= link_to "Delete", category_recipe_path(recipe.category_id, recipe),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>








