<h1 class='title'>Welcome to Chez Ken</h1>

<div class='container'>
      <div class='container col-4-md wd-17-m mg-0'>
        <h3 class="category-button"><%= link_to "Appetizers", category_path("Appetizers") %></h3>
        <% @categories[:apps].each do |recipe| %>
        <div class='category-card'>
          <div class='fav-star'><span class='rating_text'><%=stars(recipe[:rating])  %></span>
    </div>
          <div class='thumbnail' style="background-image: url(<%=recipe[:image_url] %>)"></div>
          <%=recipe[:title]  %>
        </div>
        <% end %>
      </div>
    </td>
    <td>
      <div class='container col-4-md wd-17-m mg-0'>
        <h3 class="category-button"><%= link_to "Salad", category_path("Salads") %></h3>
        <% @categories[:salads].each do |recipe| %>
        <div class='category-card'>

          <p>
            <div class='fav-star'><span class='rating_text'><%=stars(recipe[:rating])  %></span>
    </div>
          <div class='thumbnail' style="background-image: url(<%=recipe[:image_url] %>)"></div>
          <%=recipe[:title]  %>
        </p>
        </div>
        <% end %>
      </div>
    </td>
    <td>
      <div class='container col-4-md wd-17-m mg-0'>
        <h3 class="category-button"><%= link_to "Main Dish", category_path("Main Dishes")  %></h3>
        <% @categories[:mains].each do |recipe| %>
        <div class='category-card'>
          <p>
          <div class='fav-star'><span class='rating_text'><%=stars(recipe[:rating])  %></span>
    </div>
          <div class='thumbnail' style="background-image: url(<%=recipe[:image_url] %>)"></div>
          <%=recipe[:title]  %>
          </p>
        </div>
        <% end %>
      </div>
    </td>
    <td>
      <div class='container col-4-md wd-17-m mg-0'>
        <h3 class="category-button"><%= link_to "Dessert", category_path("Desserts") %></h3>
        <% @categories[:desserts].each do |recipe| %>
        <div class='category-card'>
          <p>
          <div class='fav-star'><span class='rating_text'><%=stars(recipe[:rating])  %></span>
    </div>
          <div class='thumbnail' style="background-image: url(<%=recipe[:image_url] %>)"></div>
          <%=recipe[:title]  %>
          </p>
        </div>
        <% end %>
      </div>
</div>

<p>Your recipes make up the menu at Chez Ken. Submit your favorite recipe for appetizers, salads, main dishes, or desserts. If your dish is selected for our menu, you'll get a cut too!</p>
