<%=form_for sale, action: recipe_sales_path(recipe, sale) do |f|%>
<p>
  <%= f.label 'Dish Price' %>
  <%= f.text_field :price %>

  <%= f.label 'No. of Sales' %>
  <%= f.text_field :volume %>

  <%= f.submit 'Submit'  %>
</p>
<% end %>
