<!DOCTYPE html>
<html>
  <head>
    <title>Chef Ken</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lobster" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div id="nav-bar" class='container'>
      <span class='nav-link'>
      <% if !!logged_in %>
        <% if admin? %>
          <%= link_to "Admin Tools" %>
          <%= link_to "See All Users", users_path %>
          <% else %>
            <%= link_to "Profile", profile_path %>
        <% end %>
      </span>
      <% else %>
        <%= link_to("Register", signup_path)%>
      <% end %>
      </span>

      <span class='nav-link'>
        <%= link_to "Home", "/" %>
      </span>

      <span class='nav-link'>
      <% if logged_in %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path  %>
      <% end %>
      </span>
    </div>
    <%= yield %>
  </body>
</html>
