<!DOCTYPE html>
<html>
  <head>
    <title>Chef Ken</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div id="nav-bar" class='container'>
      <span class='nav-link'>
      <% if !!logged_in %>
        <% if admin? %>
          <%= link_to "Admin tools" %>
        </span>
        <span>
        <% end %>
        <%= link_to "Profile"%>
      </span>
      <span class='nav-link'>
        <%= link_to 'New Post'%>
      </span>
      <% else %>
        <%= link_to("Register", signup_path)%>
      <% end %>
      </span>
      <span class='nav-link'><%= link_to "Home", "/" %></span>
      <span class='nav-link'>
      <% if logged_in %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path  %>
      <% end %>
      </span>
    </div>
    <%= yield %>
  </body>
</html>
